<!-- One -->
<section id="one">
  <header class="major">
    <h1><%= t(:title_first_row) %></h1>
    <h1 style="text-align: right"><%= t(:title_second_row) %></h1>
  </header>
  <br>
  <p style="text-align: justify">
    <%= t(:first_paragraph) %>
  <p style="text-align: justify">
    <%= t(:second_paragraph) %>
  </p>
  <p style="text-align: justify">
    <%= t(:third_paragraph) %>
  </p>
</section>

<!-- Two -->
<section id="singers">
  <h2></h2>
  <div class="row">
    <% data.singers.singers.sort_by{|s| s.position }.each do |singer| %>
      <article class="col-6 col-12-xsmall work-item">
        <a href="<%= "#{url_for(singer.full_name)}.html" %>" class="image fit thumb">
          <picture>
            <source type="image/webp" srcset="<%= image_path("thumbs/#{singer.full_name}.webp") %>">
            <source type="image/jpeg" srcset="<%= image_path("thumbs/#{singer.full_name}.jpg") %>">
            <img loading=lazy src="<%= image_path("thumbs/#{singer.full_name}.jpg") %>" alt="<%= singer.full_name %>">
          </picture>
        </a>
        <h3 class="align-center">
          <a href="<%= "#{url_for(singer.full_name)}.html" %>">
            <%= singer.first_name + " " + singer.last_name %>
          </a>
        </h3>
      </article>
    <% end %>
  </div>
</section>

<!-- Songs -->
<section id="songs">
  <h2><%= t(:songs_title) %></h2>
  <br>
  <div class="row align-center">
    <% data.recordings.recordings.select{|x| x.favourites }.each do |recording| %>
      <div class="col-4 col-12-small">
        <iframe width="100%" src="<%= recording.youtube_url %>" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen loading="lazy" title="<%= recording.send("title_#{I18n.locale}") %>"></iframe>
        <% if recording.composer %>
          <h5><%= recording.send("composer_#{I18n.locale}") || recording.composer %></h5>
        <% end %>
        <% if recording.title_link %>
          <a href='<%= recording.title_link %>' target="_blank" rel="nofollow">
            <h4><%= recording.send("title_#{I18n.locale}") %></h4>
          </a>
        <% else %>
          <h4><%= recording.send("title_#{I18n.locale}") %></h4>
        <% end %>
        <h5><%= recording.send("author_#{I18n.locale}") || recording.author %></h5>
      </div>
    <% end %>
    <div style="margin: 20px auto;">
      <a class="button" href="<%= "#{url_for('songs', locale: I18n.locale)}" %>.html">
        <%= t(:button_songs, count: 132423) %>
      </a>
      <a class="button" href="<%= "#{url_for('folk_singers', locale: I18n.locale)}" %>.html">
        <%= t(:button_folk_singers) %>
      </a>
    </div>
  </div>
</section>

<section id="blog">
  <div class="row">
    <% blog.articles.select{|b| b.lang == lang }.each do |article| %>
      <div class="col-3">
        <picture>
          <source type="image/webp" srcset="<%= url_for("images/blog/#{article.data.image}.webp") %>">
          <source type="image/jpeg" srcset="<%= url_for("images/blog/#{article.data.image}.jpg") %>">
          <img loading=lazy src="<%= url_for("images/blog/#{article.data.image}.jpg") %>" alt="<%= article.title %>" style="width: 100%">
        </picture>
      </div>
      <div class="col-9">
        <article>
          <h4>
            <a href="<%= article.url %>"><%= article.title %></a>
          </h4>
        </article>
      </div>
    <% end %>
  </div>
</section>

<!-- about me -->

<section id="thanks">
  <h4><%= t(:about_me) %></h4>
  <p style="text-align: justify; font-size: 10pt; line-height: 1.5;">
    <%= t(:about_me_description) %>
  </p>
</section>

<section id="three ">
  <h5><%= t(:contact) %></h5>
  <div class="row ">
    <div class="col-12">
      <ul class="labeled-icons ">
        <li>
          <h3 class="icon solid fa-envelope "><span class="label ">Email</span></h3>
          <a href="mailto:sloveniansingers@gmail.com">sloveniansingers@gmail.com</a>
        </li>
      </ul>
      <p style="text-align: center"><%= t(:thank) %></p>
    </div>
  </div>
</section>
