<section id="songs">
  <header class="major">
    <a href="<%= url_for("index.html", anchor: 'songs') %>">←</a>
  </header>
  <h2><%= t(:songs_page_title) %></h2>
  <br>
  <p style="text-align: justify">
    <%= t(:songs_page_description) %>
  </p>
  <br>
  <div class="button-group filters-button-group">
    <button class="button is-checked" data-filter="*">
      <%= t(:all_songs) %>
    </button>
    <button class="button" data-filter=".folk">
      <%= t(:folk_songs) %>
    </button>
    <button class="button" data-filter=".samospev">
      <%= t(:artsongs) %>
    </button>
    <br>
    <br><%= t(:singers) %>
    <br>
    <button class="button" data-filter=".betetto">Betetto</button>
    <button class="button" data-filter=".buksek">Bukšek</button>
    <button class="button" data-filter=".vicar">Vičar</button>
    <button class="button" data-filter=".lovse">Lovše</button>
    <button class="button" data-filter=".polak">Polak</button>
    <button class="button" data-filter=".rijavec">Rijavec</button>
    <button class="button" data-filter=".subelj">Šubelj</button>
    <button class="button" data-filter=".jelacin">Jelačin</button>
    <button class="button" data-filter=".subelj">Šubelj</button>
    <button class="button" data-filter=".krizaj">Križaj</button>
    <button class="button" data-filter=".durin">Đurin</button>
    <button class="button" data-filter=".trost">Trošt</button>
    <button class="button" data-filter=".naval">Naval</button>
    <button class="button" data-filter=".ostali"><%= t(:others) %></button>
    <br>
    <br><%= t(:composers) %>
    <br>
    <button class="button" data-filter=".parma">V.Parma</button>
    <button class="button" data-filter=".nedved">A.Nedvĕd</button>
    <button class="button" data-filter=".adamic">E.Adamič</button>
    <button class="button" data-filter=".pavcic">J.Pavčič</button>
    <button class="button" data-filter=".volaric">H.Volarič</button>
    <button class="button" data-filter=".foerster">A.Foerster</button>
    <button class="button" data-filter=".flajsman">J.Flajšman</button>
    <button class="button" data-filter=".bipavec">B.Ipavec</button>
    <button class="button" data-filter=".gipavec">G.Ipavec</button>
    <button class="button" data-filter=".gerbic">F.Gerbič</button>
    <button class="button" data-filter=".vilhar">F.S.Vilhar</button>
    <button class="button" data-filter=".volaric">H.Volarič</button>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="row align-center isotope-grid">
    <% data.recordings.recordings.select{|x| x.blog.blank? || x.blog == false }.each do |recording| %>
      <div class="col-4 col-6-small isotope-grid-item <%= recording.tags %>">
        <% if recording.youtube_url.include?('www.dlib.si') %>
          <audio controls src="<%= recording.youtube_url %>" style="width: 100%"></audio>
        <% else %>
          <iframe width="100%" src="<%= recording.youtube_url %>" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen loading="lazy" title="<%= recording.send("title_#{I18n.locale}") %>"></iframe>
        <% end %>
        <% if recording.composer %>
          <h5><%= recording.send("composer_#{I18n.locale}") || recording.composer %></h5>
        <% end %>
        <% if recording.title_link %>
          <a href='<%= recording.title_link %>' target="_blank" rel="nofollow">
            <h4><%= recording.send("title_#{I18n.locale}") %></h4>
          </a>
        <% else %>
          <h4><%= recording.send("title_#{I18n.locale}") %></h4>
        <% end %>
        <h5><%= recording.send("author_#{I18n.locale}") || recording.author %></h5>
      </div>
    <% end %>
  </div>
</section>
